<div id="modal2" class="modal bottom-sheet">
  <div class="modal-content">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
    <br>
    <div class="row">
      <div class="col s12 m6">
        <div class="card darken-1">
          <div class="card-content">
            <span class="card-title">Effort Title</span>
            <p>This would contain the description of the effort. It would be limited to set number of
              characters to keep it small, simple and effective.</p>
          </div>
          <div class="card-action">
            <a href="#">View Effort</a>
            <a href="#">Days Remaining</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card darken-1">
          <div class="card-content">
            <span class="card-title">Effort Title</span>
            <p>This would contain the description of the effort. It would be limited to set number of
              characters to keep it small, simple and effective.</p>
          </div>
          <div class="card-action">
            <a href="#">View Effort</a>
            <a href="#">Days Remaining</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });
</script>