<div id="modal2" class="modal bottom-sheet">
  <div class="modal-content">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
    <br>
    <div class="row">
      <% @user.efforts.each do |effort| %>
          <div class="col s12 m6">
            <div class="card darken-1">
              <div class="card-content">
                <span class="card-title"><%= effort.title %></span>
                <p><%= effort.description %></p>
              </div>
              <div class="card-action">
                <a href="#">View Effort</a>
                <a href="#">Days Remaining</a>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
<div id="modal3" class="modal bottom-sheet">
  <div class="modal-content">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
    <br>
    <div class="row">
      <% @user.efforts.each do |effort| %>
          <div class="col s12 m6">
            <div class="card darken-1">
              <div class="card-content">
                <span class="card-title"><%= effort.title %></span>
                <p><%= effort.description %></p>
              </div>
              <div class="card-action">
                <a href="#">View Effort</a>
                <a href="#">Days Remaining</a>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
