<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <button class="waves-effect waves-light btn-large" type="submit" name="action">Submit
          <i class="material-icons left">send</i>
        </button>
      </div>
      <div id="login-or" class="input-field col s2">
        <em><strong>OR</strong></em>
      </div>
      <div class="input-field col s6">
        <a class="waves-effect waves-light btn-large" href="auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
      </div>
    </div>
  </form>
</div>
</div>