<div id="home">
  <div class="row">
    <div class="col s4 home-box"><h4 class="valign">Make an Effort</h4></div>
  </div>
  <div class="row">
    <div class="col s4 home-box"><h4 class="valign">Volunteer</h4></div>
  </div>
  <div class="row">
    <div class="col s4 home-box"><h4 class="valign">Sponsor</h4></div>
  </div>
</div>