<div id="home">
  <div class="row">
    <div class="col s4 home-box"><h4 class="valign"><%= link_to "Make an Effort", members_path %></h4></div>
  </div>
  <div class="row">
    <div class="col s4 home-box"><h4 class="valign"><%= link_to "Volunteer", volunteers_path %></h4></div>
  </div>
  <div class="row">
    <div class="col s4 home-box"><h4 class="valign"><%= link_to "Sponsor", sponsors_path %></h4></div>
  </div>
</div>