<div id="sponsor-index" class="row">
  <div class="col s6">
    <div class="card large">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Who is an Effortful Sponsor?<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">A Sponsor is ...<i class="material-icons right">close</i></span>
        <p>A Sponsor of Effortful is someone that supports the improvement of an individual and of their community, someone that takes the time to make a difference and change a life.</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <h4 class="form-title">Become a Sponsor</h4>
    <%= render partial: 'partials/sponsor_login_form' %>
  </div>
</div>