<div id="map-container"></div><div id="route-map"></div></div>
<script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var routeMap;
    var denver = new google.maps.LatLng(39.850033, -104.6500523);

    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();

        var mapOptions = {
            zoom: 14,
            center: denver
        }
        routeMap = new google.maps.Map(document.getElementById("route-map"), mapOptions);
        directionsDisplay.setMap(routeMap);
    }

    function calcRoute() {
        var sponsorLocation = (37.7699298, -122.4469157);
        var memberLocation = (37.7683909618184, -122.51089453697205);

        var request = {
            origin: sponsorLocation,
            destination: memberLocation,
            travelMode: google.maps.TravelMode.BICYCLING
        };
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }
</script>
