<div class="row">
  <div class="col m12">
    <div class="row">
      <% @effort.sponsors.shuffle.each do |sponsor| %>
          <div class="col m3">
            <div class="card light-blue">
              <div class="card-content white-text">
                <div class="card-title white-text">
                  <%= image_tag(sponsor.image) %>
                  <span class="card-title"><%= sponsor.name %></span>
                </div>
                <h6>Reward: <%= @effort.requested_reward %></h6>
                <h6>Day: <%= @effort.day.strftime('%a, %d %b %Y') %></h6>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>