<div id="map-container"><div id="map"></div>
</div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 39.7392, lng: -104.9903},
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROAD
        });

        var memberLatLong = {lat: 39.733519, lng: -104.965155}
        var sponsorLatLong = {lat: 39.736268, lng: -104.972731}

        var memberMarker = new google.maps.Marker({
            position: memberLatLng,
            map: map,
            title: 'Member Location'
        });

        var sponsorMarker = new google.maps.Marker({
            position: sponsorLatLng,
            map: map,
            title: 'Sponsor Location'
        });

    }

</script>