<div id="map-container"><div id="map"></div>
</div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 39.7392, lng: -104.9903},
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROAD
        });

        var cityCircle = new google.maps.Circle({
            strokeColor: '#1976d2',
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: '#F58755',
            fillOpacity: 0.35,
            map: map,
            center: {lat: 39.7392, lng: -104.9903},
            radius: 200,
            draggable: true,
            editable: true
        });
    }


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>