<div class="row">
  <div class="col m6">
    <div class="card light-blue">
      <div class="card-content white-text">
        <span class="card-title">Effort Information</span>
        <h6>Title:</h6>
        <h6>Member:</h6>
        <h6>Description:</h6>
        <h6>Location:</h6>
        <h6>Length:</h6>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="col m6">
    <div class="card yellow lighten-1">
      <div class="card-content white-text">
        <span class="card-title">Sponsors</span>
        <h6>Sponsor 1</h6>
        <h6>Sponsor 2</h6>
        <h6>Sponsor 3</h6>
        <h6>Sponsor 4</h6>
        <h6>Sponsor 5</h6>
        <h6>Sponsor 6</h6>
        <h6>Sponsor 7</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m6">
    <div class="card red">
      <div class="card-content white-text">
        <span class="card-title">Effort Progress</span>
        <h6>Time Remaining:</h6>
        <h6>Evidence:</h6>
        <h6>Name</h6>
        <h6>Name</h6>
      </div>
    </div>
  </div>
  <div class="col m6">
    <div class="card teal">
      <div class="card-content white-text">
        <span class="card-title">Rewards</span>
        <h6>Type:</h6>
        <h6>Frequency:</h6>
        <h6>Name</h6>
        <h6>Name</h6>
      </div>
    </div>
  </div>
</div>

