#effort-bubble {
  border-radius: 50%;
}

#add-sponsor {
  float: right;
}

.s-v img{
  border-radius: 50%;
}

#sponsor img{
  box-shadow: #e02032 2px 3px 5px;
}

#volunteer img{
  box-shadow: #7F0000 2px 3px 5px;
}

#set-location {
  text-align: center;
  margin-bottom: -2%;
}

#effort-form-content {
  margin-top: 3%;
}