#effort-bubble {
  border-radius: 50%;
}

#add-sponsor {
  float: right;
}

.s-v img{
  border-radius: 50%;
}

#sponsor img{
  box-shadow: red 2px 3px 5px;
}

#volunteer img{
  box-shadow: orange 2px 3px 5px;
}
