.form-title {
  text-align: center;
  padding-bottom: 5%;
}

#login {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

#login-or {
  margin-top: 5%;
  text-align: center;
}

#user-create {
  background: none;
  border: none;
}