nav .brand-logo {
  margin-left: 5%;
}


#home {
  //background-image: image_url('rsz_street1.jpg');
  height: 100%;
  padding-top: 200px;
  padding-left: 50px;
  padding-bottom: 100px;
}



#home .row {
  margin-bottom:0;
}

#home .row:hover {
  background-color: #7F0000;
  opacity: .5;
}

.home-box {
  height: 80px;
  width: 300px;
  background: rgba(0,0,0,.34);
  font-size: 32px;
  font-weight: 700;
  color: #7F0000;
  text-align: center;
}

#nav-modal-button {
  margin-left: 40%;
  background-color: #ffffff;
}

#modal1-button {
  color: black;
  background-color: #9ccc65;
}

#modal1-button:hover {
  color: white;
  background-color: #FF4C4C;
}

#modal2-button {
  color: black;
  background-color: #ffffff;
}

#modal2-button:hover {
  color: white;
  background-color: #FF4C4C;
}

.modal-close {
  float:right;
}
