nav .brand-logo {
  margin-left: 5%;
}


#home {
  background: url(image-path("thank-you.jpg")) left center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-top: 200px;
  padding-left: 50px;
  padding-bottom: 100px;
}

#home .row {
  margin-bottom:0;
}

#home .row:hover {
  background-color: #7F0000;
  opacity: .5;
}

.home-box {
  height: 80px;
  width: 300px;
  background: rgba(0,0,0,.34);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.home-box a, a:visited, a:link {
  color: white;
}

#nav-modal-button {
  margin-left: 40%;
  color: black;
  background-color: white;
}

#modal1 h4{
  text-align: center;
}

a.modal-close {
  color: black;
}

#modal1-button:hover {
  color: white;
  background-color: #FF4C4C;
}

#modal2-button {
  color: black;
  background-color: #ffffff;
}

#modal2-button:hover {
  color: white;
  background-color: #FF4C4C;
}

#modal4-button {
  color: black;
  background-color: #9ccc65;
}

#modal4-button:hover {
  color: white;
  background-color: #FF4C4C;
}

.modal-close {
  float:right;
}
