.brand-logo a{
  margin-left: 20%;
}

#home {
  background-image: image_url('rsz_street1.jpg');
  height: 100%;
  padding-top: 200px;
  padding-left: 50px;
  padding-bottom: 100px;
}

#home .row {
  margin-bottom:0;
}

#home .row:hover {
  background-color: #F58755;
  opacity: .3;
}

.home-box {
  height: 80px;
  width: 300px;
  background: rgba(0,0,0,.74);
  font-size: 32px;
  font-weight: 700;
  color: #F58755;
  text-align: center;
}

.footer-copyright {
  height: 50px;
  padding-top: 15px;
  background-color: #D8D8D8;

}