#member-index {
  margin-top: 3%;
}

#member-index-pic {
  background: url(image-path("hugging.jpg")) left center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#role-title {
  color:#9ccc65;
}


#member-efforts {
  margin-left: 15%;
}

#profile-card {
  margin-left: 10px;
  margin-right: 10px;
}

#my-efforts {
  overflow: scroll;
  height: 500px;
}

#my-efforts a {
  color:black;
  text-decoration: underline;
}


#vote-result-button {
  width: 30px;
  height: 30px;
  margin-left: 5%;
  position: absolute;
}

#button-key {
  width: 30px;
  height: 30px;
  margin-left: 5%;
}

.hrs {
  color: #9ccc65;
}

.vote-hrs {
  color: #e02032;
}

#s_list h5{
  color: #9ccc65;
  text-align: center;
}

#v_list h5{
  color: #9ccc65;
  text-align: center;
}

#s_list label{
  color:black;
}

#v_list label{
  color:black;
}

#hobbies {
  z-index:1001;
}

#member-title img{
  float: right;
}

.card img{
  width: 50px;
  border-radius: 50%;
}

#what3words {
  width: 100%;
  height: 400px;
}

.chip {
  position: absolute;
  top: 5px;
  left: 10px;
}

#chip-color {
  background-color: #9ccc65;
}