<footer>
  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
      <h4>How Effortful Works</h4>
      <div class="row">
        <div class="col m4">
          <p>As a member, you can create Efforts, which are actions that improve the community.</p>
          <p>Each Effort has a location and time length of 1 day or 1 week.</p>
          <p>A member can select a Reward for each Effort. The Reward can be food, clothing or job resources.</p>
        </div>
        <div class="col m4">
          <p>As a sponsor, you can sponsor Efforts, which means you will supply the Reward if the Effort is successful.</p>
          <p>Each Effort requires 7 sponsors, and at the end of each Effort a major vote between sponsors determines the success of the Effort.</p>
          <p>A sponsor then supplies the requested Reward, to be picked up according the Effort schedule.</p>
        </div>
        <div class="col m4">
          <p>As a volunteer, you can commit to an Efforts, which means you will deliver the Reward from sponsors to the member.</p>
          <p>Each Effort requires 1 volunteer.</p>
          <p>A route will be provided with exact positions for delivery of Rewards.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</footer>
<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>