<div id="member-index" class="row">
  <div class="col s6">
    <div class="card large">
      <div id="member-index-pic" class="card-image waves-effect waves-block waves-light">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Who is an Effortful Member?<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">A Member is ...<i class="material-icons right">close</i></span>
        <h6>A Member of Effortful is someone that makes a difference in their community, someone that cares about their future and the health and well-being of themselves and their community.</h6>
      </div>
    </div>
  </div>
  <div class="col s6">
    <h4 class="form-title">How to Be a Member</h4>
    <p>A Member's main task is creating Efforts. An Effort is any action that improves your community. This could be picking up garbage, shoveling snow, helping someone move, or teaching a skill. Whatever you think can improve the community and people around can become an Effort!</p>
    <p>Each Effort will have a location that can be selected on a map and a length of either 1 day or 1 week. A Member can then select a non-monetary reward for completion of an Effort. The Rewards offered are one meal a day, one clothing item a day, or one job resource a day.</p>
    <p>Once an Effort is created, seven Sponsors and one Volunteer can commit to the Effort. Once there are all 8 commitments, the Effort begins.</p>
    <p>If the Member completes the Effort as described, Sponsors will vote to make it a Success.</p>
    <p>A Volunteer will then pick up the Reward from one Sponsor a day and deliver it to the Member.</p>
  </div>
</div>
